# OS-specific junk
.DS_Store
Thumbs.db
._*
.Spotlight-V100
.Trashes

# Jupyter junk
.ipynb_checkpoints

# Temporary files (nếu chúng có thể xuất hiện trong data folder)
*.tmp
*~

.codeium/
.cursor-server
.idea/
.keras/
.lightning_studio/
.streamlit/
.vscode-server
.vscode/
.windsurf-server
ml/src/data/__pycache__/
ml/src/models/__pycache__/

mobile2/
ml/models/saved_models